<div id="header">
  <div class="logo">
    <a href="/">Rails Com_Nity</a>
  </div>
  <div class="link"></div>
    <ul id="nav">
      <% if user_signed_in? %>
        <li>
          <%= link_to "投稿 ♪", new_post_path %>
        </li>  
         <li>
          <%= link_to "プロフィール", new_profile_path %>
        </li>  
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>  
      <% end %>
    </ul>  
</div>