<div id="header">

    <div class="logo">
      <a href="/">Rails Com◡Nity</a>
    </div>
    
    <div class="link hide-sph">
      <ul id="nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to "投稿 ♪", new_post_path %>
          </li>  
           <li>
            <%= link_to "プロフ", new_profile_path %>
          </li>  
          <li class="logout">
            <%= link_to(destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}) do %><i class="fas fa-sign-out-alt" title="Logout"></i><span class= "hide-sp"> アウト</span><% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="login">
            <%= link_to(new_user_session_path) do %><i class="fas fa-sign-in-alt" title="Login"></i><span class= "hide-sp"> ログイン</span><% end %>
          </li>  
        <% end %>
      </ul>  
    </div>


    <div class="hamburger-menu hide-pc">
          <input type="checkbox" id="menu-btn-check">
          <label for="menu-btn-check" class="menu-btn"><span></span></label>
          <div class="menu-content">
            <% if user_signed_in? %>
              <ul>
                  <li>                      
                       <%= link_to(root_path) do %><i class="fas fa-home icon fa-1x" title="Top"></i><span class= "hide-sp"> Top</span><% end %>
                  <li>                      
                      <%= link_to(new_post_path) do %><i class="far fa-edit" title="新規投稿"></i><span class= "hide-sp"> 新規投稿</span><% end %>              
                  </li>
                  <li>                      
                      <%= link_to(new_profile_path) do %><i class="fas fa-users" title="プロフィール"></i><span class= "hide-sp"> プロフィール編集</span><% end %>              
                  </li>
                  <li class="ham-logout">
                      <%= link_to(destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}) do %><i class="fas fa-sign-out-alt" title="Logout"></i><span class= "hide-sp font-color"> ログアウト</span><% end %>              
                  </li>
              </ul>
            <% else %>
              <ul>
                  <li class="ham-login">                      
                       <%= link_to(new_user_session_path) do %><i class="fas fa-sign-in-alt" title="Login"></i><span class= "hide-sp"> ログイン</span><% end %>
                  </li>
                  <li>                      
                      <%= link_to(new_user_registration_path) do %><i class="far fa-edit" title="新規登録"></i><span class= "hide-sp"> 新規登録 ~ Welcome ! ~</span><% end %>              
                  </li>             
              </ul>
            <% end %>
         </div>
    </div>

</div>



