<div class="content-wrapper">
  <div class="content-block">
   <% @posts.each do |post| %>
    <div class="content">
     <div class="user-about">
       <div class="image">
        <% if post.user.image.attached? %>
         <%= image_tag post.user.image %>
        <% else %>
          <%= image_tag "nouser.png"%>
        <% end %>
       </div>
      
       <div class="profile">
        <div class="name-history">
         <div class="name">
          <%= post.id%> : <%= post.user.name %> <%#  ← post.id はユーザーIDではなく、あくまで、投稿のID %>
         </div>
         <div class="learning-history">
          <%= "学習歴： #{post.user.learning_history}年" %> 
         </div>
       </div>
       <div class="purpose">
        <%= "Rails学習の目的 : #{post.user.purpose}" %>
         
       </div>
      </div> 
     </div>

     <div class="text">
       <p><%= link_to(post.content, "/posts/#{post.id}") %></p>　<%#  プロゲート「詳細ページへのリンクを作成しよう」を参考 %>
       
     </div>

     <% if post.images.attached? %>
        <div class="images">
          <% post.images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        </div>
     <% end %>

     <div class="post-times">
        <%= post.created_at.strftime('%Y.%m.%d %H:%M')%>
     </div>

     <div class="action-menu">
        <div class="like">
        
        </div>
        <div class="coment"> 
        
        </div>
     </div>
    </div>
   <% end %>
  </div>
  

  <div class="sidebar">
    <div class="sidebar__item"> <%#  ← スライド実装 %>
      
    </div>  <%#  ← スライド実装 %>
    
    <div class="sidebar__item sidebar__item--fixed"> <%#  ← スライド実装 %>
      <div class="box"><p>空</p></div>    <%# 固定・追従させたいエリア %>
      <div class="box"><p>空</p></div>    <%# 固定・追従させたいエリア %>
    </div>

  </div>
</div>
<%# --------------------------------content-wrapper:display-flex%>

<div>
   <p class="skip-top"><%= link_to(root_path) do %><i class="fas fa-home icon fa-1x" title="Top"></i><span class= "hide-sp"> Top</span><% end %></p>
</div>



