
<h2>投稿詳細</h2>

<div class="content-wrapper">
    <div class="content-block smart">
        <div class="content">
            <div class="user-about">
                <div class="image">
                    <% if @post.user.image.attached? %>
                     <%= link_to image_tag(@post.user.image), new_profile_path %> <%#  ← 新規投稿画面から弾かれ、プロフィール編集画面へ遷移_一覧と詳細で共有 %>
                    <% else %>
                     <%= link_to image_tag("nouser.png"), new_profile_path %> 
                    <% end %>                
                </div>
    
                <div class="profile">
                    <div class="name-history">
                        <div class="name">
                            <%= @post.id%> : <%= @post.user.name %> <%#  ← post.id はユーザーIDではなく、あくまで、投稿のID %>
                        </div>
                        <div class="learning-history">
                            <%= "学習歴 : #{@post.user.learning_history}年" %> 
                        </div>
                    </div>
    
                    <div class="purpose">
                      <%= "Rails学習の目的 : #{@post.user.purpose}" %>
                    </div>  
                </div> 
            </div>
    
            <div class="text">
              <p><%=safe_join(@post.content.split("\n"),tag(:br))%></p>  <%# content内で改行を反映させる処理 %>
            </div>

            <%#  画像投稿がある際に出現するエリア %>
            <% if @post.images.attached? %>
               <div class="images">
                 <% @post.images.each do |image| %>
                   <%= image_tag image %>
                 <% end %>
               </div>
            <% end %>

            <div class="post-times">
               <%= @post.created_at.strftime('%Y/%m/%d  %H : %M')%>
            </div>
            
            <%#  ゲスト用に右記載はコメントアウト<% if @post.user ==  current_user %> 
            <ul class="update-destroy-btn">
                <li>
                    <%= link_to '編集', edit_post_path, data: {"turbolinks" => false} %> 
                </li>
                <li>
                    <%= link_to '削除', post_path, method: :delete, data: { confirm: '削除してもよろしいですか?' } %> 
                </li>
                <li class="guest-comment">← ※ゲスト用にボタン表示中</li>
            </ul>
            
        </div>
    </div>
    
</div>
    
<div>
    <p class="skip-top"><%= link_to(root_path) do %><i class="fas fa-home icon fa-1x" title="Top"></i><span class= "hide-sp"> Top</span><% end %></p>
</div>

