<!DOCTYPE html>
<html>
  <head>
    <title>Rails-com_nity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>" >
    <%= render 'shared/header' %>
    <%= render 'shared/toast' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>




